<!DOCTYPE html><html><head><meta charset=utf-8><title>系统登录</title><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><style>*{padding:0;margin: 0;}
        body{width:100%;overflow:hidden; background-color:#fff;
        font-family:Arial, "微软雅黑",Serif;
        }
        html,body,#app{width:100%;height:100%;}</style><link href=./static/css/app.1670fa2a5c94280149a0e7d38eeb7f73.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=./static/js/manifest.631fccf4d831898df0bc.js></script><script type=text/javascript src=./static/js/vendor.56fef1ef5345f4054861.js></script><script type=text/javascript src=./static/js/app.81421ea4f02c4f7826ed.js></script></body></html>